.aboutSection {
    display: flex;
    flex-direction: column;
    padding-top: 8em;
    height: 100vh;
}

.biography {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20em;
}

.text {
    text-align: justify;
    text-align: right;
    font-size: 1.75em;
    margin-left: 50%;
    margin-right: 0.5em;
}

@media (max-width: 768px) {
    .text {
        margin: 0.5em;
        text-align: center;
    }
    
    .text {
        font-size: 1.75em;
    }
}

@media (max-width: 480px) {
    .text {
        margin: 0.5em;
    }
}
    
    .text {
        font-size: 1.75em;
    }