.githubIcon {
    width: 2.25em;
    height: auto;
    margin-top: 0.5rem;
    margin-right: 1rem;
    transition: filter 0.3s ease;
}
.mailIcon {
    width: 2.50em;
    height: auto;
    margin-top: 0.5rem;
    transition: filter 0.3s ease;
}

.mailIcon svg {
    stroke-width: 0.5px;
}

.mailIcon:hover, .githubIcon:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
    cursor: pointer;
    filter: drop-shadow(0 0 6px rgba(0, 122, 255, 0.7));
}